<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对应接口类位置-->
<mapper namespace="com.mycompany.myspringboot.user.dao.UserMapper">
    <select id="queryUserNameList" resultType="String">
        SELECT
            user_name
        FROM
            t_sys_user
    </select>
</mapper>